.Payments{
    border:2px solid black;
    text-align: center;
    height: 250px;
    width: 450px;
    margin-left: 80px;
    margin-top: 60px;
    border-radius: 5%;
    background-color: antiquewhite;
    box-shadow: 4px 4px rgba(120, 114, 111, 0.694);
}
#resultlbl1{
    font-size: 15px;
    padding-bottom: 0px;
  
}
#resultlbl2{
    font-size: 15px;

   
}
body{
    background-color: rgb(211, 183, 141);
}