h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
    display: inline;
    color: bisque;
    border-radius: 15%;
    background-color: rgb(46, 44, 44);
}

.checker{
    text-align: center;
    border: 2px solid black;
    height: 300px;
    width: 400px;
    margin-left: 70px;
    margin-top: 70px;
    box-shadow: 12px 12px 21px;
    border-radius: 15%;
    background-color: rgb(197, 197, 133);
}

body{
    background-color: antiquewhite;
}
#age{
    border-radius: 10%;
    background-color: blanchedalmond;
}
#check{
    box-shadow: 2px 2px 2px rgb(219, 139, 130);
    padding: 4px;
    background-color: rgb(182, 207, 135);
}
#result{
    border-radius: 13%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(158, 118, 58);
}