.container{
    margin: 0;
    background-image: url(image/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed1;
    background-size: cover;
    font-size: 5rem;
    align-items: center;
    text-align: center;
     border:2px solid rgb(18, 18, 18);
       height: 80rem;
       color: wheat;
       font-weight: bold;
    
}
#clock{
    border: 2px solid rgb(103, 99, 99);
    margin-top: 620px;
    width: 520px;
    height: 145px;
    margin-left: 150px;
    padding-top: 20px;
    box-shadow: 2px 4px 6px rgb(180, 176, 176);
    backdrop-filter: blur(13px);
    background-color: hsl(180, 6%, 72%,0.1);
}