.container1{
    width: 450px;
    height: 340px;
    border:2px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: blanchedalmond;
    border-radius: 10%;
    box-shadow: 5px 4px #abadad;
    color: blueviolet;
}
#resultbtn{
    padding: 3px;
    background-color: rgb(171, 93, 244);
    box-shadow: 2px 2px rgb(196, 87, 213);
}
#resultbtn:hover{
    background-color: rgb(129, 10, 240);
}

#Temperature{
    border-radius: 2px 4px rgb(15, 2, 2);
    box-shadow: 4px 4px 2px rgb(146, 96, 96);
}
