#container{
    background-color: rgb(166, 190, 95);
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 4px 5px 12px 5px rgb(207, 207, 226);
    border-radius: 5%;
}
h1{
    padding-top: 20px;
    color: rgb(83, 89, 82);
}
button{
    border: none;
    font-size: 70px;
    width: 100px;
    height: 100px;
    border-radius: 250px;
    box-shadow: 2px 5px 6px 2px rgb(141, 137, 137); 
    margin: 15px;
    cursor: pointer;
}
button:hover{
    background-color: blanchedalmond;
}
#player{
    margin-top: 10px;
}
#computer{
    margin-top: 5px;
}
#result{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
}